{% extends 'event/adminbase.html' %}



{% block content %}

<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 50px;
    }
  </style>

</head>





<div class="container">

  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Teams</h6>

      </div>

      <table class="table table-hover" id="dev-table">
        <thead>

          <tr>
            <th>Team Name</th>
            <th>Edit</th>
            <th>Delete</th>
            
          </tr>
        </thead>
        {% for t in teams %}
        <tr>
          <td> {{t.name}}</td>
          <td><a class="btn btn-success btn-xs" href="{% url 'edit-team' t.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'delete-team-from-event' t.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>

        </tr>

        {% endfor %}
      </table>
    </div>


  </div>
</div>





{% endblock content %}
