{% extends 'event/adminbase.html' %}



{% block content %}

<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>

</head>





<div class="container">

  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title"> Players Score</h6>

      </div>

      <table class="table table-hover" id="dev-table">
        <thead>

          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Score</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        {% for s in scores %}
        <tr>
          <td> {{s.player.get_name}}</td>
          <td> {{s.team}}</td>
          <td>{{s.score}}</td>
          <td><a class="btn btn-success btn-xs" href="{% url 'update-score' s.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'delete-score-from-event' s.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>

        </tr>

        {% endfor %}
      </table>
    </div>



    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title"> Teams Standing</h6>

      </div>

      <table class="table table-hover" id="dev-table">
        <thead>

          <tr>
            <th>Team</th>
            <th>Standing</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        {% for r in standings %}
        <tr>
          <td> {{r.wins}}</td>
          <td> {{r.looses}}</td>
          <td><a class="btn btn-success btn-xs" href="{% url 'update-score' r.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'delete-score-from-event' r.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>

        </tr>

        {% endfor %}
      </table>
    </div>


  </div>
</div>





{% endblock content %}
